{% extends 'dummy.html' %}




















{% load static %}


{% block title %}
<title>Home</title> 
{% endblock %}





{% block body_block %}


  
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 100vh;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Welcome to Jspiders</h1>
            <h4 class="mb-3 text-warning" >You will get wonderful subject here....</h4>
            <h6 class="text-success">Happy Learning...</h6>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>

{% endblock %}